/*login*/
.form-signin {
  min-width: 400px;
}

 .form-signin-wrapper {
  background: #ddd !important;
}

.form-signin label {
  color: #999 !important;
}

.form-signin a {
  color: #777 !important;
}

.form-signin .panel {
  background: #eeeeee;
  box-shadow: 0 7px 16px #a71e1f, 0 4px 5px #a71e1f;
  color: #333;
}

.btn {
  background-color: #a71e1f;
  color: #ffffff;
  border: 1px solid #a71e1f;
}

@media (min-width: 200px) {
  .form-signin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*header*/
.navbar-nav {
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
}

/*left menu*/
#left-menu .sub-left-menu a {
  color: #333;
}

/*body*/
#content {
  color: #333;
}

.page-header {
  border-bottom: 4px solid #a71e1f;
}

.btn-default,
  .label-default,
  .alert-default,
  .badge-default {
    color: #ffffff !important;
    border: none !important;
    background-color: #d5282a !important;
    margin-right: 15px;
  }

@media (min-width: 200px) {
  .navbar-button {
    float: right !important;
    margin-top: 0px;
  }
}

.navbar li {
	background: #eeeeee;
}

.navbar-default{
	background-color: #eeeeee;
	border-color: #eeeeee;
}

.navbar-default .navbar-toggle {
	border-color: #eeeeee;
}

.navbar-default .navbar-toggle:hover {
	background-color: #eeeeee;
}

a, a:hover {
	color: #ffffff;
}

.container-fluid {
	padding-top: 5px;
	padding-bottom: 5px;
}

.col-sm-12 {
  padding-top: 1px;
}


/*@media (min-width: 961px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }

  #quote-carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
  }
}*/

@media (max-width: 961px) {
  ul.timeline:before {
    left: 40px;
  }
  ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }
  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }
  ul.timeline > li > .timeline-panel {
    float: right;
  }
  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}

.show-xs {
    display: none;
}

@media (min-width: 961px) {
  #quote-carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
  }
}

@media all and (max-width:961px){
  .show-xs{
    display:block;
  }
}

@media only screen and (max-width: 961px) { 
  .mail-right-tool li{padding: 5px !important;}
  .fc-right{display: none;}
  .fc-left{margin-bottom: 20px;float: right !important;}
  .search-v1 #tabs-demo6 li.active:after{
    display: none !important;
  }
  .search-v1 .search-v1-result-wrapper{padding: 0px !important;}
  #content{
    padding-left: 0px;
    padding-right: 0px;
  }
  .user-nav{margin-right: 10px;}
  .user-dropdown{background-color: #fff !important;}
  .nav-wrapper .navbar-header,.nav-wrapper,.navbar-brand{
    padding-left: 0px !important;
  }
  .user-nav .user-name,
  .user-nav .opener-right-menu,
  #left-menu,
  .opener-left-menu,
  #right-menu{
    display: none !important;
  }

  #mimin-mobile,#mimin-mobile-menu-opener{display: block !important;}
  }
}